@import '../modules/colors.css';

main {
  background-color: $dark-cyan;
  position: relative;
  overflow: hidden;

  .ball {
    position: absolute;
    pointer-events: none;
  }

  .top-left-ball {
    right: 50%;
    bottom: 50%;
  }

  .bottom-right-ball {
    left: 50%;
    top: 50%;
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    min-height: 100vh;
  }
}
