@import '../modules/colors.css';

@custom-media --smaller-than-tablet (width > 47.8125rem);

body {
  background-color: $dark-cyan;

  @media (--smaller-than-tablet) {
    background-image: url('/images/ball-left-top.svg'),
      url('/images/ball-right-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: left -17.75rem top -31.875rem,
      right -14.375rem bottom -39.625rem;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem 1rem;
    min-height: 100vh;
  }
}
