@import '../modules/colors.css';

body {
  background-color: $dark-cyan;
  background-image: url('/images/bg-pattern-top.svg'),
    url('/images/bg-pattern-bottom.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left -17.75rem top -31.875rem,
    right -14.375rem bottom -39.625rem;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    min-height: 100vh;
  }
}
