@import '../modules/colors.css';

.card {
  background-color: $white;
  border-radius: 0.875rem;
  width: min(100%, 21.875rem);
  min-height: 23.375rem;
  margin-inline: 1.5rem;
  overflow: hidden;
  z-index: 1;

  .bg-pattern {
    height: 8.75rem;
    background: $dark-gray url('/images/bg-pattern-card.svg');
    position: relative;

    .avatar {
      background-color: $dark-gray;
      border: 0.3125rem solid $white;
      position: absolute;
      top: 100%;
      left: 50%;
      translate: -50% -50%;
      width: 6.625rem;
      height: 6.625rem;
      border-radius: 50%;
    }
  }

  .victor-basic-infos {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-block: 4.5rem 1.5rem;

    .name-and-age {
      display: flex;
      gap: 0.5rem;
      font-size: 1.125rem;

      .name {
        color: $very-dark-desaturated-blue;
        font-weight: 700;
      }

      .age {
        color: $dark-grayish-blue;
        font-weight: 400;
      }
    }

    .where-from {
      color: $dark-grayish-blue;
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  .victor-social-infos {
    box-shadow: 0 0.0625rem 0 0 $dark-gray-50 inset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1.5rem 3rem;

    .social-info {
      display: flex;
      flex-direction: column;
      align-items: center;

      .number {
        color: $very-dark-desaturated-blue;
        font-size: 1.125rem;
        font-weight: 700;
      }

      .type {
        color: $dark-grayish-blue;
        font-size: 0.625rem;
        font-weight: 400;
        letter-spacing: 0.15em;
      }
    }
  }
}
