@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/KS-400.woff2') format('woff2'),
    url('/fonts/KS-400.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kumbh Sans';
  src: url('/fonts/KS-700.woff2') format('woff2'),
    url('/fonts/KS-700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}
