@import './_colors.css';
@import './_mixins.css';

*,
*::before,
*::after {
  @mixin reset;
}

main {
  background-color: $dark-cyan;
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  .ball {
    position: absolute;
    pointer-events: none;
  }

  .img-top {
    right: 50%;
    bottom: 50%;
  }

  .img-bottom {
    left: 50%;
    top: 50%;
  }
}
